.loader {
  border: 3px solid #f3f3f3;
  border-radius: 80%;
  border-top: 3px solid black;
  width: 10px;
  height: 10px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.app {
  margin: 25px;
}
.after-clicked {
  font-size: 30px;
  font-style: italic;
  font-weight: bold;
}
.container {
  flex-wrap: wrap;
  display: inline-flex;
  justify-content: space-around;
}
.quote {
  width: 400px;
  margin: 10px auto;
}
.quote-en {
  font-style: italic;
  cursor: pointer;
}
.quote-author {
  font-style: italic;
  text-align: right;
  margin: 5px 25px;
}
.comment {
  text-align: center;
  font-weight: bold;
}
.button {
  margin: 5px;
  border: none;
  cursor: pointer;
  outline: none;
  background-color: white;
}
.button:hover {
  text-decoration: underline;
  text-underline-position: under;
}
.buttons {
  position: absolute;
  top: 27px;
  right: 20px;
}
.vote {
  cursor: pointer;
}
@media (max-width: 500px) {
  .quote {
    width: 100%;
    text-underline-position: under;
    margin: 10px auto;
  }
  .button {
    margin: 5px 0;
  }
  .buttons {
    position: absolute;
    top: 27px;
    right: 20px;
  }
}
